<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit user</title>
    <link  rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <style media="screen">
      .form-control{
            width: 25%;
            margin-top: 3px;
      }
      .btn-primary{
        margin-top: 5px;
      }
    </style>
  </head>
  <body class="container">
    <h3>Hello <%= username %></h3>

  </body>
</html>
