<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add user</title>
    <link  rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <style media="screen">
      .form-control{
            width: 25%;
            margin-top: 3px;
      }
      .btn-primary{
        margin-top: 5px;
      }
    </style>
  </head>
  <body class="container">
    <h3>Registeration Form</h3>

    <form class="form-group" method="post" enctype="multipart/form-data" action="/users/<%= locals.login?'login':'register'%>">

      <input class="form-control" placeholder="user name" name="name"/>
      <input class="form-control" placeholder="user password" name="password" type="password"/>
      <input class="form-control" placeholder="confirm password" name="confirmpassword" type="password"/>
      <input class="form-control" placeholder="email" name="email" type="email"/>
      <input class="form-control" placeholder="image" name="avatar" type="file"/>
      <input type="submit" class="btn btn-primary"  />

    </form>

  </body>
</html>
