<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Product</title>
    <link  rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <style media="screen">
      .form-control{
            width: 25%;
            margin-top: 3px;
      }
      .btn-primary{
        margin-top: 5px;
      }
    </style>
  </head>
  <body class="container">
    <h3>Add New Product</h3>
    <form class="form-group" method="post" action="/products/add">

      <input class="form-control" placeholder="product name" name="name"/>
      <input class="form-control" placeholder="product description" name="desc"/>
      <input class="form-control" placeholder="product category" name="category"/>
      <input class="form-control" placeholder="product price" name="price"/>
      <input class="form-control" placeholder="product url" name="url"/>
      <input type="submit" class="btn btn-primary"  />

    </form>

  </body>
</html>
